.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    padding-left: 0;
  }
  
  .gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .patterns {
    margin-top: 20px;
  }
  
  .patternButton {
    margin: 5px;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .controls {
    margin-bottom: 5px;
    gap: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .controls button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border-radius: 0px;
    margin-top: 0.75rem;
    border: none;
    padding: 0.15rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-gap: 1px;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: var(--titlebar-bg);
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .alive {
    background-color: var(--accent-color);
  }
  
  .info {
  }
  
  .info h1 {
    margin-top: 0;
  }
  
  .info ul {
    padding-left: 20px;
  }
  
  .previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .previewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .previewGrid {
    display: grid;
    gap: 1px;
    margin-bottom: 5px;
  }
  
  .previewCell {
    width: 10px;
    height: 10px;
    background-color: var(--titlebar-bg);
    border: 1px solid #ccc;
  }
  
  .previewAlive {
    background-color: var(--accent-color);
  }
  
  .previewLabel {
    font-size: 12px;
    text-align: center;
    max-width: 70px;
  }