.footer {
  background: var(--bottombar-bg);
  height: 25px;
  border-top: 1px solid var(--bottombar-border);
  color: rgb(225, 228, 232);
  padding: 0 0.5rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.container {
  display: flex;
  align-items: center;
}

.section, .remoteSection {
  display: flex;
  margin-right: 0.5rem;
  height: 24px;
  align-items: center;
  padding: 0 0.2rem;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
}

.remoteSection {
    background: var(--accent-color);
    padding: 0 0.8rem;
}

.remoteIcon {
    color: var(--text-color);
    font-weight: bold;
    height: 16px;
    width: 16px;
}

.section:hover {
  background: var(--footer-hover-bg);
}

.icon {
    height: 14px;
    width: 14px;
    margin-right: 0.2rem;
}

.icon {
    margin-right: 0.2rem;
}

.qicon {
  margin-right: 0.2rem;
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 0.6rem;
  }
  .section {
    margin-right: 0.5rem;
  }
}
