.simulationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(13, 150px);
    grid-gap: 0;
  }
  
  .cell {
    width: 150px;
    height: 150px;
    background-color: transparent;
  }
  
  .alive {
    background-color: var(--bg-text);
    border-top: 1px solid var(--accent-color);
    border-left: 1px solid var(--button-bg);
  }
  