.quote {
  position: absolute;
  bottom: 40px;
  right: 20px;
  border: 1px solid var(--accent-color);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
  background-color: var(--main-bg);
  border-radius: 4px;
  max-width: 500px;
  z-index: 10;
}

.content {
  display: flex;
  align-items: top;
  gap: 10px;
}

.author {
    font-size: 0.8rem;
}

.title {
  padding: 0.5rem 0.75rem;
  padding-top: 0;
  padding-left: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.icon, .closeIcon {
  opacity: 0.5;
}

.closeIcon {
  transform: scale(1.2);
  margin-left: 0.5rem;
  cursor: pointer;
}

.button {
  background: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  padding: 0.15rem 0.5rem;
  font-size: 0.9rem;
  border: none;
}

.btns {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sbutton {
  background: var(--article-bg);
  color: var(--text-color);
  cursor: pointer;
  padding: 0.15rem 0.5rem;
  font-size: 0.9rem;
  border: none;
  margin-left: 10px;
}

.titleContainer {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}