.selectedTheme,
.unselectedTheme {
  padding: 0.15rem 0.5rem;
  border: 1px solid var(--button-bg);
  border-radius: 0px;
  margin: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
}

.selectedTheme {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.unselectedTheme {
  background-color: transparent;
  color: var(--text-color);
}
