.container {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-left: 5px solid var(--accent-color);
  padding: 1rem;
  border-radius: 0px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 0px;
  margin-top: 0.75rem;
  border: none;
  padding: 0.15rem 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.title {
  margin-top: 0.825rem;
  font-size: 0.85rem;
}

.image {
  width: 80px;
  height: 80px;
}